extends layout

block content
  h1= title
  div(class="list")
    ul
      each category in categories
        li
          h2
            a(href=category.url) #{category.name}
          p #{category.description}