extends layout

block content
  h1= title
  p Welcome to the #[em Inventory App], a website to view and update inventory.

  h1 Categories
  div.list
    ul
      each category in categories
        li 
          h2
            a(href=category.url) #{category.name}
  hr
  if user
    p
      a(href="/home/logout") Log out
  else
    p
      a(href="/home/sign-in") Sign in
    p 
      a(href="/home/sign-up") Sign up