* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 25px;
  font: 1.6rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  padding-bottom: 0.8rem;
  font-size: 4.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
}

dl {
  padding-top: 1.4rem;
}

dl p {
  font-weight: 100;
  margin-top: 0.4rem;
}

dl a {
  font-weight: lighter;
  font-size: 2rem;
}

a {
  color: #00b7ff;
}

li {
  margin-left: 2rem;
  padding-bottom: 0.2rem;
}

p {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
}

.list {
  margin-top: 2.4rem;
}

.list ul {
  list-style: none;
}

.list li {
  margin-left: 0;
}

.home-list {
  font-size: 2.4rem;
}

em {
  font-weight: bold;
}

.sidebar-nav {
  padding-top: 0.8rem;
}

img {
  height: 25rem;
  width: 25rem;
  object-fit: cover;
  border-radius: 2rem;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  max-width: 40%;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 10rem;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

